---
layout: archive
---

{{ content }}

The 20th RECOMB-CG conference is co-located
with RECOMB 2023 in Istanbul, Turkey.
The RECOMB satellite conference on Comparative Genomics, founded in 2003, brings together leading researchers in the mathematical, computational and life sciences to discuss cutting edge research in comparative genomics, with an emphasis on computational approaches and novel experimental results. The program includes invited speakers, contributed talks and poster sessions.

Contributions on any theoretical and/or empirical approach to genome-wide comparison are welcome. Topics of interest include, but are not limited to:

genome evolution
genome rearrangements
genomic variation, diversity and dynamics
gene identification and annotation
methods for genome assembly
cancer evolutionary genomics
comparative epigenomics
population genomics
pangenomics
phylogenomics and phylodynamics
paleogenomics
epidemiology and related areas
metagenomics
machine learning in genomics

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
