---
layout: archive
---

{{ content }}

<body>

  <h1>Welcome to the 22nd RECOMB-CG</h1>
  
  <p>The 22nd RECOMB-CG conference is co-located with RECOMB 2025 in Seoul, South Korea.</p>

  <p>The RECOMB satellite conference on Comparative Genomics, founded in 2003, brings together leading researchers in the mathematical, computational, and life sciences to discuss cutting-edge research in comparative genomics, with an emphasis on computational approaches and novel experimental results. The program includes invited speakers, contributed talks, and poster sessions.</p>

  <p>Contributions on any theoretical and/or empirical approach to genome-wide comparison are welcome. Topics of interest include, but are not limited to:</p>

  <ul>
      <li>Genome evolution</li>
      <li>Genome rearrangements</li>
      <li>Genomic variation, diversity, and dynamics</li>
      <li>Gene identification and annotation</li>
      <li>Methods for genome assembly</li>
      <li>Cancer evolutionary genomics</li>
      <li>Comparative epigenomics</li>
      <li>Population genomics</li>
      <li>Pangenomics</li>
      <li>Phylogenomics and phylodynamics</li>
      <li>Paleogenomics</li>
      <li>Epidemiology and related areas</li>
      <li>Metagenomics</li>
      <li>Machine learning in genomics</li>
  </ul>

  <p>We encourage submissions that offer new biological findings or otherwise highlight their relevance to biology. </p>

  <p><strong>Authors of accepted papers have the following options:</strong></p>
  <ul>
    <li><strong>Have the full manuscript (maximum 15 pages, excluding references, with an optional clearly marked appendix of supplementary material) published in the proceedings.</strong></li>
    <p>OR</p>
    <li><strong>Have a 4-page version published in the proceedings, provided that the full version is available on arXiv or bioRxiv.</strong></li>
  </ul>


  <p>Accepted contributions will be presented at the RECOMB-CG 2025 meeting. Authors of selected contributions may be invited to submit an extended version for consideration in PLOS Computational Biology or the Journal of Computational Biology (publication fees apply).</p>





  <h2>Key Dates</h2>
  <p>All deadlines are "anywhere on earth."</p>

  <table>
      <tr>
          <th>Event</th>
          <th>Date</th>
      </tr>
      <tr>
          <td>Paper submission deadline</td>
          <td><s>February 7, 2025 (Friday)</s> <p style="color: red;">February 14, 2025 (Friday)</p></td>
      </tr>
      <tr>
          <td>Author notification for papers</td>
          <td><s>February 24, 2025 (Monday)</s> <p style="color: red;">March 3, 2025 (Monday)</p></td>
      </tr>
      <tr>
          <td>Final camera-ready version due</td>
          <td><s>March 3, 2025 (Monday)</s> <p style="color: red;">March 10, 2025 (Monday)</p></td>
      </tr>
      <tr>
          <td>Poster submission deadline</td>
          <td>April 4, 2025 (Friday)</td>
      </tr>
      <tr>
          <td>Registration open</td>
          <td>TBA</td>
      </tr>
      <tr>
          <td>Conference starts</td>
          <td>April 24, 2025 (Thursday)</td>
      </tr>
      <tr>
        <td>Conference ends</td>
        <td>April 25, 2025 (Friday)</td>
    </tr>

  </table>

</body>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
